<%- include('templateTop') %>
<h1><%= title %></h1>
<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input id='username' name="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" id="password" />
    <button class="messageContainer" type="submit">Sign Up</button>
</form>
<a href="/signin">Sign In</a>
<!-- < if(errors?.[Symbol.iterator]){ %>
    <ul>
        <for(const error of errors){ %>
            <li>
                <=error.msg%>
            </li>
    </ul>
< }} %> -->
<%- include('templateBottom') %>