<%- include('templateTop') %>
    <h1 class="appName"><%= title %></h1>
    <%if(user_list!=undefined){%>
        <ul class="messageContainer">
            <%for( const user of user_list){%>
                <li><%=user.username%> 
                    <%if(user.isMember){ %>
                        | Member
                    <%} %>
                    <%if(user.isAdmin){%>
                        | Admin
                    <%}%>
                </li>
            <%}%>
        </ul>
    <%} else { %>
        <p>No users to display. (This is an error)</p>
    <%}%>
    <%- include('templateBottom') %>